@charset "UTF-8";
.myrate {
	background: url("https://aldo814.github.io/jobcloud/html/images/user/star_bg02.png") no-repeat;
	width: 121px;
	height: 20px;
	position: relative;
}

.myrate span {
	position: absolute;
	background: url("https://aldo814.github.io/jobcloud/html/images/user/star02.png");
	width: auto;
	height: 20px;
} 

.dashboard-list-box .reviewDelete {
    border: none;
    color: #666;
    background-color: #eee;
    padding: 4px 18px;
}

.reviewDelete {
    border: 1px solid #e0e0e0;
    border-radius: 50px;
    font-size: 13px;
    color: #666;
    font-weight: 500;
    padding: 5px 20px;
    margin-top: 20px;
    display: inline-block;
    transition: 0.3s;
}

#small-dialog .mfp-close:hover {
	background: red;
}

#sign-in-dialog .mfp-close:hover {
	background: red;
}

.reviewContent {
	display: -webkit-box;
	-webkit-line-clamp: 3; 
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.moreContent {
	content: "\f107";
	font-family: "FontAwesome";
	transition: 0.2s;
	transform: rotate(0deg);
	color: #aaa;
	border: none;
	font-size: 12px;
	display: flex;
	background: none;
}

.add-sub-rating {
	text-align: center;
}

.leave-rating {
	height: 24px;
	float: left;
	margin-left: 6px;
}

/* #sign-in-dialog, #small-dialog {
    max-width: 700px;
} */

.sub-ratings-container .leave-rating label {
	position: relative;
	font-size: 18px;
	letter-spacing: 3px;
}

.sub-ratings-container .leave-rating label:before {
	content: "\f006";
	color: lightgray;
}

.sub-ratings-container .leave-rating input[type="checkbox"]:hover ~ label:before,
.sub-ratings-container .leave-rating input[type="checkbox"]:checked ~ label:before {
	content: "\f006";
}

.sub-ratings-container .leave-rating input[type="checkbox"] ~ label:after {
	content: "\f005";
	position: absolute;
	left: 0;
	color: #ffc600;
	opacity: 0;
	transition: 0.2s;
}

.sub-ratings-container .leave-rating input[type="checkbox"]:hover ~ label:after,
.sub-ratings-container .leave-rating input[type="checkbox"]:checked ~ label:after {
	opacity: 1;
}

.rating-bars i.tip, .sub-ratings-container i.tip {
	background: #eaeaea;
	color: #888;
	height: 17px;
	width: 17px;
	display: inline-block;
	font-size: 11px;
}

.rating-bars i .tip-content, .sub-ratings-container i .tip-content {
	min-width: 220px;
	max-width: 220px;
}

.rating-bars  i.tip:after, .sub-ratings-container i.tip:after {
	line-height: 18px;
}

input[type="checkbox"] {
	display: none;	
}

#small-dialog, #sign-in-dialog {
    background: #fff;
    padding: 40px;
    padding-top: 0;
    text-align: left;
    max-width: 610px;
    margin: 40px auto;
    position: fixed;
    box-sizing: border-box;
    border-radius: 4px;
    z-index: 9999;
    top: 200px;
    left: 34%;
    width: 50%;
    border: 1px solid black;
}

#blameSave {
	border-radius: 10px;
	border: none;
	background: black;
	color: white;
	width: 100px;
    height: 40px;
}