<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
		<!-- <typeAlias type="클래스명(패키지 구조 포함)" alias="별칭명"/> -->
		<typeAlias type="kr.or.ddit.vo.MemberVO" alias="member" />
		<typeAlias type="kr.or.ddit.vo.MemberAuth" alias="auth" />
	</typeAliases>
</configuration>