@charset "UTF-8";
/* 카테고리 */
.cate-box::-webkit-scrollbar {
	display: none;
}
#cateFilter {
	width: 100px;
	height: 45px;
}
#sign-in-dialog::-webkit-scrollbar {
	display: none;
}
.slick-prev, .slick-next {
	position: absolute;
	top: 50%;
	background-color: transparent;
	font-size: 1px;
	z-index: 1;
	cursor: pointer;
}
.slick-prev { left: 35%; }
.slick-next { right: 28%; }
.slick-dots { bottom: 0; }
.slick-dotted.slick-slider { margin-bottom: 0; }
.slick-prev:before, .slick-next:before{ font-size: 2rem; }
.slick-dots li { width: 10px; height: 10px; }
.slick-dots li:after { width: 10px; height: 10px; top: 0; left: 0; background-color: gray; }
h4 { margin-top: 1px; margin-bottom: 1px; }
#dateContainer {
	overflow-x: scroll;
	width: auto; 
	scroll-behavior: smooth;
}
#dateContainer::-webkit-scrollbar {
  display: none;
}
.date-container-outer {
  margin-bottom: 5px;
}
.date-container-inner {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
}
.date {
  padding-left : 10px;
  font-weight: bold;
  text-decoration: underline;
}
.date:hover {
	cursor:pointer;
	color: red;
}
.date-navigation {
  text-align: center;
  margin-top : 15px;
}
.date-nav-button {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  margin: 0 10px;
}
.cate-zone {
	float: left;
    border-radius: 4px;
    padding: 32px 0px;
    text-align: center;
    color: #777;
    transition: 0.4s;
    transform: scale(1);
    vertical-align: top;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90px;
    width: 120px;
    margin: 5px 5px;
}
.cate-zone:hover {
	background-color: rgb(231, 230, 230);
}
.acc-title {
	color : black;
	font: 17px "Fira Sans", sans-serif;
	font-weight: 700;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.acc-content {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.acc-price {
	font: 17px "Fira Sans", sans-serif;
	color : black;
	font-weight: 700;
}
.acc-div {
	display: inline-block;
	width: 14%;
	/* height: 25%; */
	margin: 1% 1%;
}

/* .cate-zone:hover i {
  color: white;
} */

.cate-zone:hover span {
  color: white;
}
.hide-headlines {
  opacity: 0;
  transition: opacity 0.6s ease-out;
}
.main-search-input {
  transition: transform 0.4s ease-out, width 0.4s ease-out; /* transform과 width에 대한 트랜지션 설정 */
}

.main-search-input.expanded {
  transform: translateY(-420%);
  width: 900px;
}
.main-search-input {
  width: 500px;
  transition: transform 0.4s ease-out, width 0.4s ease-out;
}
/* 모달 스타일 */
.modal {
  display: none;
  position: absolute; /* absolute로 변경 */
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 10;
}

.modal-content {
	display: flex;
	flex-direction: row;
    width: 850px;
    height: 400px;
}
.map-box {
	width:100%; 
	margin-left:20px;
	column-gap: 5px;
	display: grid;
	flex-wrap: wrap;
	grid-template-columns: repeat(4,min-content);
	overflow-y: scroll;
	box-shadow: 0 0 0 0;
}
.map-box::-webkit-scrollbar {
	width: 10px;
}
.map-box::-webkit-scrollbar-thumb {
	height: 30%;
    background: rgba(114, 112, 112, 0.384);
    border-radius: 10px;
}
.map-box::-webkit-scrollbar-track {
    background: rgba(221, 221, 221);
}
.location-img {
	border: 1px solid rgb(221,221,221);
	border-radius : 8px;
	width: 100%;
    height: 150px;
    display: inline-block;
	cursor: pointer;
}
.lc-img-box {
	flex: 1 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    box-sizing: border-box;
    padding: 10px;
	text-align: center;
	font-weight: 600;
}
#do-box {
    display: flex;
    flex-wrap: wrap;
	justify-content: flex-start;
}
.btn-tab {
	border: none;
    background-color: ghostwhite;
    border-radius: 30px;
    font-weight: 700;
    height: 50px;
    font-size: 17px;
    margin: 5px 10px;
}
.btn-tab:hover {
	background-color: gainsboro;
	color : white;
}
#si-box {
	display: none;
}

#accBox {
	overflow-y: scroll; 
}

#accBox::-webkit-scrollbar {
    width: 10px;  
}
#accBox::-webkit-scrollbar-thumb {
    height: 30%; 
    background: rgb(167 164 164); 
    border-radius: 10px;
}
#accBox::-webkit-scrollbar-track {
    background: rgb(217 217 218 / 86%); 
} 